<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso:</p>
<p>
  <strong>Data de inicio: </strong> {{ start }} <br />
  <strong>Data de término: </strong> {{ end }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Seja bem vindo ao nosso time.
  </small>
</p>
